/* TOPO */
header {
    background-color: #6f9cab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
}

.topo {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.imagemlogo-topo {
    width: 90px;
    height: 90px;
}

.imagemlogo-topo img {
    width: 100%;
    height: 100%;
}

nav {
    list-style: none;
    display: flex;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

nav a:hover {
    background-color: #1d4c5c;
    color: #e8eef2;
    border-radius: 10px;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.topo nav {
    align-items: flex-end;
}

nav a {
    color: #234d5e;
    font-weight: 500;
    font-size: 20px;
}
/* TOPO */


main {
    background-color: #ebf0f3;
}

h2 {
    font-size: 35px;
    color: #3d5d6f;
    text-shadow: #ffffff 2px 2px 4px;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

h2::before {
  content: "";
  width: 40px;
  height: 7px;
  background-color: #3d5d6f;
  border: #ffffff 1px solid;
  border-radius: 10px;
  position: absolute;
  bottom: 25%;
  left: calc(50% - 25px);
}

.agrupamento-planos {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px 50px 20px;
}   

p {
    max-width: 800px;
    font-size: 20px;
    color: #5b9d88;
    text-align: center;
    line-height: 1.6;
    text-shadow: #ffffff 2px 2px 4px;
    padding: 0 20px 30px 20px;
}

.agrupamento-imagem-planos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px 50px 20px;
    width: 100%;
    height: auto;
}

.agrupamento-imagem-planos figure img {
    border-radius: 20px;
}


/* RODAPÉ */

footer {
    height: auto;
    background-color: #6f9cab;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agrupamento-footer {
    max-width: 450px;
    height: auto;
    margin: 10px auto;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 10px;
}

.agrupamento-footer p {
    font-size: 16px;
    left: 50%;
}

.agrupamento-footer figure {
    width: 70px;
    height: 70px;
}    

.agrupamento-footer figure img {
    width: 100%;
    height: 100%;
}

footer p {
    margin: 5px auto;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    text-shadow: none;
}
/* RODAPÉ */

/* ÍCONE */
.ico {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.ico img {
    width: 100%;
    height: 100%;
}
/* ÍCONE */

/* RESPONSIVO */
@media (max-width: 465px) {
    .agrupamento-imagem-planos figure {
        width: auto;
        height: 350px;
    }

    .agrupamento-imagem-planos figure img {
        width: 100%;
        height: 100%;
    }
}